extends base.pug
block content  
    h1
        p Hack your future examples
    h2
        ul 
            li
                a(href="/city/") City example
            li
               a(href="/city/madridcities") Madrid cities
            li
                a(href="/city/search") Search city (safe)
            li
                a(href="/city/searchUnsafe") Search city (unsafe)
            li
                a(href="/country/") Country 
            li  
                a(href="/user/addTransfer") Transfer money (transactions)
        